body {
	font-family: 'Grand Hotel', serif;
	min-width: 327px;
	margin: 0%;
}

form,
input,
main,
h1,
.optionitem {

	font-family: 'Grand Hotel', serif;
}

nav {
	margin: auto;
	font-size: 2.2em;
	font-family: 'Grand Hotel', serif;
	background-color: rgb(245, 245, 245);
	border: 5px ridge;
	border-color: rgb(245, 245, 245);
	box-shadow: 5px 10px 20px 3px #888888;
	position: fixed;
	width: 100%;
}

ul {
	padding: 0;
	list-style: none;
	display: flex;
	margin: auto;
}

a {
	text-decoration: none;
	color: black;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 0px;

	font-family: 'Merriweather', serif;
	font-size: 1.5em;
}

.home-input {
	height: 35px;
	margin: 2%;
	width: 50%;
	text-align: center;
	font-size: 1em;
}

#header-img {
	max-width: 50px;
	width: auto;
	margin-top: 7%;
}

#mustacheheader {
	width: 100%;
	height: auto;
	opacity: 0.95;
	margin-bottom: 3%;
}

#option-img1 {
	display: flex;
	align-self: center;
	width: 70%;
	height: auto;
	opacity: 0.95;
}

#option-img2 {
	display: flex;
	align-self: center;
	width: 50%;
	height: auto;
	opacity: 0.95;
}

#option-img3 {
	display: flex;
	align-self: center;
	width: 20%;
	height: auto;
	opacity: 0.95;
}

.company-icon {
	margin-right: auto;
	margin-left: 2%;
}

.nav-li {
	margin-left: auto;
	margin-right: auto;
}


#email {
	min-width: 200px;
}

#submit {
	width: 30%;
	min-width: 130px;
}

.options {
	background-color: rgb(14, 110, 124);
	font-size: 180%;
	padding-top: 20px;
	text-align: center;
	height: auto;
}

.section-container {
	margin: 0 50px 50px 50px;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.optionitem {
	width: 300px;
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	align-self: center;
	justify-content: flex-end;
	border: solid rgba(245, 245, 245, 0.95);
	padding-top: 30px;
	padding-bottom: 5px;
	margin: 2%;
	border-radius: 2%;
	background-color: rgb(245, 245, 245);
	box-shadow: #888888 5px 5px 10px 5px;

}

.mustachecontainer {
	display: flex;
	height: 200px;
	flex-shrink: 0;
	flex-direction: column;
	/* border: solid palegreen; */
}

.home {
	background:
		linear-gradient(rgba(245, 245, 245, 0.2),
		rgba(245, 245, 245, 0.3), rgba(14, 110, 124, 0.3)),
		url(kapperzaak.JPG);
	background-size: 100%;
	min-width: 327px;
	background-repeat: no-repeat;
	padding: 10% 0 20% 0;

}

.mustachelogo {
	text-align: center;
	margin-top: 0%;
	font-family: 'Grand Hotel', cursive;
	font-size: 1.5rem;
	color: white;
	z-index: 0;
	width: 100%;
	height: auto;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	margin: auto;
	margin-top: 5%;
	width: 40%;
	height: auto;
}

.container2 {
	display: flex;
	align-self: center;
	/* border: solid; */
	width: 190px;
	height: 150px;
}

.container3 {
	margin-top: -30px;
	margin-bottom: -50px;
	display: flex;
	align-self: center;
	/* border: solid; */
	width: 190px;
	height: 150px;
}

.mustachexsmall {
	width: 45px;
	height: 45px;
	margin-left: 15px;
	margin-top: -15px;
	border-radius: 50%;
	position: absolute;
	color: black;
	box-shadow:
		37.5px 60px 0 0 currentColor,
		75px 60px 0 0 currentColor;

}

.mustachexsmall::before {
	content: "";
	position: absolute;
	left: 7.5px;
	top: 30px;
	width: 52.5px;
	height: 30px;
	border-bottom: solid 45px currentColor;
	border-radius: 0 0 0 100%;
	transform: rotate(-45deg);
	transform-origin: right 52.5px;
}

.mustachexsmall::after {
	content: "";
	position: absolute;
	left: 97.5px;
	top: 30px;
	width: 52.5px;
	height: 30px;
	border-bottom: solid 45px currentColor;
	border-radius: 0 0 100% 0;
	transform: rotate(45deg);
	transform-origin: left 52.5px;
}

.iframe-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}

.iframe-container iframe {
	position: absolute;
	margin: 5%;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
}



.video {
	background: linear-gradient(rgb(14, 110, 124), #888888);
	/* #888888; */
	padding-bottom: 50px;
}


.radio-option {

	/* HIDE RADIO */
	visibility: hidden;
	/* Makes input not-clickable */
	position: absolute;
	/* Remove input from document flow */
}

.optionitem {
	/* IMAGE STYLES */
	cursor: pointer;
	border: 2px solid transparent;
}

.optionitem:hover {
	border: solid rgba(5, 38, 43, 0.8);
	border-radius: 5px;
}

.footer {
	width: 80%;
	text-align: center;
	font-size: 2em;
	margin: auto;
	margin-top: 80px;
}

#submit-option {
	width: 10%;
	min-width: 250px;
	height: 50px;
	font-size: 0.8em;
	border: ridge;
}

input~label:active {
	border: solid green;
}

input:checked+.optionitem {
	/* (RADIO CHECKED) IMAGE STYLES */
	margin: 3%;
	padding: 40px 1% 10px 1%;
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	box-shadow: #888888 10px 10px 15px 10px;
}


@media only screen and (max-width: 600px) {

	.home {
		padding-bottom: 11%;
	}

	.home-input {
		height: 25px;
		font-size: 0.7em;
	}

	nav,
	footer {
		font-size: 1.5em;
	}

	#submit-option {
		font-size: 0.6em;
	}

	.options {
		font-size: 140%;
	}

}
